html, body {
    height: 100%;
}

/* Tabelle */

.table-container{
    max-height: 70vh;
}

.table thead th{
    background-color: #29235c ;
    color: white;
    font-size: 1.5rem;
}

/*
.table tbody tr:nth-child(even) td{
    background:transparent;
}
.table tbody tr:nth-child(odd) td{
    background:transparent;
}

#tableBody tr:nth-child(odd) button:hover {
    background-color: rgba(203, 203, 206, 0.44) ;
    border-color: rgba(203, 203, 206, 0.44) ;
    color: black ;
}

#tableBody tr:nth-child(even) button:hover{
    background-color: rgba(203, 203, 206, 0.44) ;
    border-color: rgba(203, 203, 206, 0.44) ;
    color: black ;
}

#tableBody tr:nth-child(odd) button:active{
    background-color: #95c11f ;
    border-color: #95c11f ;
    color: white ;
}

#tableBody tr:nth-child(even) button:active{
    background-color: #29235c ;
    border-color: #29235c ;
    color: white ;
}*/

#tableBody tr:nth-child(odd) td {
    background-color: #f5f5f5 !important;
}

#tableBody tr:nth-child(even) td {
    background-color: #c9c9c9 !important;
}

#tableBody tr:nth-child(odd) td:hover {
    background-color: #a1a1a1 !important;
}

#tableBody tr:nth-child(even) td:hover {
    background-color: #a1a1a1 !important;
}

#tableBody tr:nth-child(odd) button {
    background: transparent;
    color: #000000; /* damit der Text sichtbar bleibt */

}

#tableBody tr:nth-child(even) button {
    background: transparent;
    color: #000000; /* damit der Text sichtbar bleibt */

}

/* Logo */
.logo{
    width: 22%;
}


@media (max-width: 768px) {
    .logo {
        width: 25%;
    }
}

@media (min-width: 769px) {
    .logo {
        width: 30%;
    }
}