html, body {
    height: 100%;
}

/* Logo */

@media (max-width: 575px) {
    .logo {
        width: 35%;
    }
}

@media (min-width: 576px) {
    .logo {
        width: 25%;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 40%;
    }
}

@media (min-width: 1080px) {
    .logo {
        width: 20%;
    }
}

/* Text */

.my-fs {
    font-size: 1.1rem; /* Mobile */
}

@media (min-width: 1200px) {
    .my-fs {
        font-size: 1.2rem; /* ab md */
    }
}

@media (min-width: 1900px) {
    .my-fs {
        font-size: 1.4rem; /* ab md */
    }
}

@media (min-width: 2200px) {
    .my-fs {
        font-size: 1.7rem; /* ab md */
    }
}

/* Tabelle */

.table-container{
    max-height: 70vh;
}

.table thead th{
    background-color: #29235c ;
    color: white;
    font-size: 1.5rem;
}

#tableBody tr:nth-child(odd) td {
    background-color: #f5f5f5 !important;
}

#tableBody tr:nth-child(even) td {
    background-color: #c9c9c9 !important;
}

#tableBody tr:nth-child(odd) td:hover {
    background-color: #a1a1a1 !important;
}

#tableBody tr:nth-child(even) td:hover {
    background-color: #a1a1a1 !important;
}

#tableBody tr:nth-child(odd) button {
    background: transparent;
    color: #000000; /* damit der Text sichtbar bleibt */

}

#tableBody tr:nth-child(even) button {
    background: transparent;
    color: #000000; /* damit der Text sichtbar bleibt */

}
