:root {
  --bs-primary:#29235c;
  --bs-border-color:#d4d4d4;
}

.table thead th,
.table tfoot .sum-row td {
  background:#29235c;
  color:#fff;
  font-weight:600;
  border:1px solid #d4d4d4;
  vertical-align: middle !important;
  text-align: center !important;
}

.table tbody tr:nth-child(odd) td{background:#e6eaee;}
.table tbody tr:nth-child(even) td{background:#f1f3f5;}

.btn-orange {
  --bs-btn-bg:#29235c;
  --bs-btn-color:#f1e4e4;
  --bs-btn-border-color:#f1e4e4;
  font-weight:600;
  color:#ffffff !important;
  
}


.btn-orange:hover {
  background:#95c11f !important;
}


.btn-orange:active {
  background:#36a9e1 !important;
}

.btn-danger {
  background-color: #29235c !important;
  color:#ffffff !important;
}

.btn-danger:hover {
  background-color: #95c11f !important;
  border-color: #95c11f !important;    
}

.btn-danger:active,
.btn-primary:active {
  background-color: #36a9e1 !important; 
}

.btn-primary:active {
  background-color: #29235c !important; 
}


.table-sum td {
  background-color: #29235c !important;
  color: #fff;
}

.btn-primary {
  background-color: #29235c !important; 
  border-color: #29235c !important;     
}

.btn-primary:hover {
  background-color: #95c11f !important;
  border-color: #95c11f !important;     
}

.btn-primary:active,
.btn-primary:focus {
  border-color: #29235c !important;
}

.table tbody tr:nth-child(even) td{
  background:#41a8db71 !important;
}
.table tbody tr:nth-child(odd) td{
  background:#ffffff  !important;
}

