<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lehrer-Ansicht Klassen detailliert</title>
  <link href="../static/bootstrap/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style/teacherViewStyle.css">
</head>

<body class="bg-light">
  <main class="container py-4">
    <h4 class="mb-4 text-center">Lehrer-Ansicht Klassen detailliert</h4>

    <div class="card shadow-sm p-4 border-0">
      <div class="d-flex justify-content-between mb-3">
        <a href="/teacherView">
          <button id="backBtn" class="btn btn-orange text-black fw-semibold px-4 py-2">Zurück</button>
        </a>
        <button id="exportBtn" onclick="exportAndDownload()" class="btn btn-orange text-black fw-semibold px-4 py-2">Export</button>
      </div>

      <div class="table-responsive">
        <table id="lessons_table" class="table table-bordered text-center align-middle mb-0">
          <thead class="table-header text-white">
            <tr>
              <th>Nr.</th>
              <th>Fach/Lernfeld</th>
              <th>Stunden/Woche<br>Schüler</th>
              <th>Lehrer</th>
              <th>Stunden/Woche<br>Lehrer</th>
              <!-- <th>Form</th> -->
              <th>Bemerkung</th>
            </tr>
          </thead>
          <tbody id="detailBody">
          </tbody>
        </table>
      </div>
    </div>
  </main>

  <script src="../static/js/buildtable.js" defer></script>
  <script  type="module" src="../static/js/getTeacherDetailedData.js" defer></script>
  <script type="module" src="../static/js/teacherDetailed.js" defer></script>
  <script src="../static/js/alerts.js" defer></script>
</body>
</html>

