<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lehrer-Ansicht Klassenauswahl</title>

  <link href="../static/bootstrap/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style/teacherViewStyle.css">
</head>

<body class="bg-light">
  <main class="container-fluid py-4 vh-100">
    <h2 class="mb-4 text-center">Lehrer-Ansicht Klassenauswahl</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-2 table-responsive table-container">
        <table class="table table-bordered mb-0 text-center align-middle border-0 shadow">
          <thead class="table-header text-white sticky-top">
            <tr>
              <th>Klasse</th>
            </tr>
          </thead>
          <tbody id="tableBody" class="overflow-y-scroll table-group-divider">
          </tbody>
        </table>
      </div>

      <div class="dropdown col-2">

        <button id="halfYearButton" class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Halbjahr auswählen:
        </button>

        <ul id="halfYearDropdown" class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item active" data-value="0">Bitte auswählen...</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" data-value="1.Hj"><button class="btn bg-transparent text-white m-0 p-0 w-100 border-0">1. Halbjahr</button></a></li>
          <li><a class="dropdown-item" data-value="2.Hj"><button class="btn bg-transparent text-white m-0 p-0 w-100 border-0">2. Halbjahr</button></a></li>
        </ul>

        <div class="col-12 flex-column gap-2">
          <form id="searchForm">
            <input id="searchInput" class="mt-2 form-control py-3 text-center" placeholder="Suche Klassen..." />
          </form>
           <button id="searchBtn" type="submit" class="btn btn-primary py-3 w-100 fw-semibold mt-2">Suchen</button>
            <div class="collapse mt-0" id="searchCollapse">
              <input id="searchInput" class="form-control" placeholder="Suche Klasse..." />
            </div>
        </div>
      </div>

    </div>
  </main>
  <!-- Skripte -->
  <script src="../static/bootstrap/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

  <script src="../static/js/alerts.js" defer></script>

  <script type="module" src="../static/js/getClassList.js" defer></script>
  <script type="module" src="../static/js/searchClass.js" defer></script>
  <script type="module" src="../static/js/changeButtonTextOnSelection.js" defer></script>
  <script type="module" src="../static/js/getTeacherDetailedData.js" defer></script>

</body>
</html>
